body{
      background: black;
}
.container{
      height: 40vh;
      display:flex;
      justify-content:center;
      align-items: center;
}
.loader{
      width: 90px;
      height: 90px;
      border-radius: 50%;
      border-bottom: 4px solid aqua;                       
      animation: load 1s ease-out infinite;
}
@keyframes load{
            from{
                transform: rotate(0);
            }
            to{
                transform: rotate(360deg);
            }
}
